<head>
    <title>AI to NFT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/cdn/metamask-sdk.js"></script> -->
    <script type="text/javascript" src="../static/js/home.js"></script>
    <script type="module" src="../static/js/web3.js"></script>
    <!-- <script type="module" src="../static/dist/main.js"></script> -->
</head>