<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>
    <div class="container">
      <!-- Display a connect button and the current account -->
      {% include "auth.html" %}
      <div style="text-align: center">
        <h1 style="font-family: slimyFont; font-size: 5vw;">AI to NFT</h1>
        <form id="introduce-prompt-form">
          <label class="introduce-prompt-text" style="display: inline-block;" for="texto">
            INTRODUCE PROMPT FOR AI
          </label><br>
          <input id="texto" name="texto"><br><br>
          <input type="submit" value="Create Image">
        </form>
      </div>
      <div id="new-container"></div>
    </div>
  </body>
</html>